.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
     justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      text-align: left;
    }
  }

  .footer .logo {
    display: block;
    margin-bottom: 20px;
  }
  
  /* ФОРМА ФУТЕРА СПРАВО */
  .footer-form {
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 450px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 570px;
      margin-left: auto;
    }
  }
  .address {
    display: flex;
    flex-direction: column;
    gap: 9px;
  
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }

  .address__location {
    color: var(--white-color);
  }

  .address__contacts {
    color: var(--gray-color);
  }
  
  .footer-cont-botton {
    margin-bottom: 9px;
  }

  .footer-cont-botton:last-child {
    margin-bottom: 0;
  }

  .footer-cont-botton:hover {
    color: var(--blue-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-cont-botton:focus {
    color: var(--blue-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-link {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .form-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 1200px) {
     flex-wrap: nowrap;
     gap: 12px;
    }
  }
  
  .input-footer {
    max-width: 450px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 15px;
    background-color: transparent;
    color: var(--white-color);

    @media screen and (min-width: 1200px) {
      max-width: 358px;
    }
  }
  