.header {
    border-bottom: 1px solid #ececec;
    display: none;
  @media screen and (min-width: 768px) {
    display: flex;
   }
}
.header-container {
    display: flex;
    align-items: center;
    gap: 93px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
