.info {
  @extend %section;
}
.info__list {
  /* --items: 4; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.info__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.info__icon {
  width: 70px;
  height: 70px;
}