.mob-container{
    max-width: 480px;
}
.mob__header{
    display: block;
}
.header-mob{
    margin-bottom: 306px;
}







.socials-mob{
    display: flex;
    align-items: center;
    gap: 20px;
}
.socials-item{
    width: calc(100% - 3 * 20px) / 4;
}